/* head-slider */

.head-slider-section {
	height: 150vw;
}

.head-slider {
	height: 100%;
}

.head-slide {
	position: relative; 
	display: flex; 
	justify-content: center;
	align-content: center;
	align-items: center;
}

.head-slide::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(26,27,27,0.3);
}

.head-slide-img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: auto;
	min-width: 100%;
	height: 100%;
	z-index: -1;
}

.head-slide-text-container {
	margin: 0;
	position: relative;
	z-index: 2;
	overflow: hidden;
	background-color: var(--whiteWithOpacity);
	border-radius: 3px;
	padding: 2.5rem;
	width: 90%;
}

.head-slide-title {
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	margin: 0;
	color: var(--black2);
}

.head-slide-text {
	margin: 1.5rem 0 0;
	font-size: 18px;
	color: var(--black2);
}

.head-slide-link-list {
	margin: 1.5rem 0 0;
}

.head-slide-link-list .head-slide-link:first-child {
	margin-right: 10px;
}

/*---dots---*/
.head-slider .flash-simple-slider-dot {
	position: relative;
}

.head-slider .flash-simple-slider-dot::before {
	content: " ";
	position: absolute;
	width: 70px;
	height: 70px;
	overflow: hidden;
	border-radius: 8px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	left: -35px;
	top: -85px;
	background-image: url("../images/head-slider/img-01.jpg");
	transition: all .5s;
	transform: scale(0);
	-webkit-transform: scale(0);
}

.head-slider .flash-simple-slider-dot-item:nth-child(2) .flash-simple-slider-dot::before {
	background-image: url("../images/head-slider/img-02.jpg");
}

.head-slider .flash-simple-slider-dot-item:nth-child(3) .flash-simple-slider-dot::before {
	background-image: url("../images/head-slider/img-03.jpg");
}

.head-slider .flash-simple-slider-dot-item:last-child .flash-simple-slider-dot::before {
	background-image: url("../images/head-slider/img-04.jpg");
}

.head-slider .flash-simple-slider-dot:hover::before {
	transform: scale(1);
	-webkit-transform: scale(1);
}

/*---animations---*/

.head-slide-title,
.head-slide-text,
.head-slide-link-list {
	position: relative;
	transition: left .9s, top 0s ease .9s;
	left: -100%;
	top: 400px;
}

.flash-simple-slider-slide.flash-show .head-slide-title,
.flash-simple-slider-slide.flash-show .head-slide-text,
.flash-simple-slider-slide.flash-show .head-slide-link-list {
	transition: left 0s, top .9s;
	transition-delay: .9s;
	left: 0 !important;
	top: 0;
}

.flash-simple-slider-slide.flash-show .head-slide-text,
.flash-simple-slider-slide.flash-show .head-slide-link-list {
	transition-delay: 1.2s;
}

.head-last-slide .head-slide-title,
.head-last-slide .head-slide-text,
.head-last-slide .head-slide-link-list {
	right: -100%;
	left: initial !important;
	transition: right .9s, top 0s ease .9s;
}

.flash-simple-slider-slide.flash-show .head-last-slide .head-slide-title,
.flash-simple-slider-slide.flash-show .head-last-slide .head-slide-text,
.flash-simple-slider-slide.flash-show .head-last-slide .head-slide-link-list {
	right: 0;
	transition: left 0s, top .9s;
	transition-delay: .9s;
}

.flash-simple-slider-slide.flash-show .head-last-slide .head-slide-text,
.flash-simple-slider-slide.flash-show .head-last-slide .head-slide-link-list {
	transition-delay: 1.2s;
}

@media (min-width: 576px) {

	.head-slider-section {
		height: 155vw;
	}

	.head-slide-text-container {
		margin-top: 0;
	}

}

@media (min-width: 768px) {
	
	.head-slider-section {
		height: 600px;
	}

	.head-slide-img {
		width: 100%;
		height: auto;
		min-height: 100%;
	}

}

@media (min-width: 992px) {

	.head-slide {
		justify-content: flex-start;
	}

	.head-slide-text-container {
		width: 30%;
		margin-left: 5%;
	}

	.head-slide-title {
		text-align: left;
	}

}

/* the-end-of-head-slider */