
html {
	font-family: 'Open Sans', sans-serif;
}

/* loading-animation */

.fl-loading-ani-curtains::before,
.fl-loading-ani-curtains::after {
	background-color: var(--verylightgrey);
}

/* the-end-of-loading-animation */


/* navbar */

.fl-navbar {
	padding: 0 !important;
}

.fl-navbar .fl-navbar-brand,
.fl-navbar .fl-navbar-links {
	margin-top: 1.5rem !important;
}

.fl-navbar .fl-navbar-nav {
	margin-top: 0 !important;
}

.navbar-container:first-child {
	padding-bottom: 1.5rem !important;
}

.fl-navbar .fl-navbar-toggler {
	margin-top: .7rem !important;
	margin-bottom: .7rem !important;
}

@media (min-width: 992px) {

	.fl-navbar,
	.fl-header {
		display: contents !important;
	}

}

/* the-end-of-navbar */



/* navbar-brand */

.fl-navbar-brand {
	width: 150px !important;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 992px) {

	.fl-navbar-brand {
		margin-left: initial;
		margin-right: initial;
	}

}

/* the-end-of-navbar-brand */



/* navbar-nav */

@media only screen and (min-width: 992px) {

	.fl-nav-item:not(:last-child) {
		margin-right: 5px;
	}

	.fl-nav-link {
		color: var(--black2);
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 1.2rem 1rem;
	}

	.fl-nav-link:hover,
	.fl-nav-link.fl-active {
		color: var(--orange) !important;
	}

	.fl-nav-link-icon {
		font-size: 10px !important;
		margin-left: .2rem;
		position: relative;
		bottom: 2px;
	}

	.fl-dropdown-menu-con {
		min-width: 200px;
		left: 0;
		top: 70px;
		transition-duration: 0.3s;
	}

	.fl-nav-item-dropdown:hover .fl-dropdown-menu-con {
		top: calc(1.2rem + 13.5px);
	}

	.fl-dropdown-menu {
		border-top: 1px solid #f17f50;
		background-color: var(--white);
		padding: 0.6rem;
		border-radius: 0;
	}

	.fl-dropdown-menu-item {
		margin-top: 0 !important;
		padding: 0;
	}

	.fl-dropdown-menu-link {
		color: var(--black2);
		background-color: transparent;
		font-size: 12px;
		padding: .7rem 1rem;
		width: 100%;
		text-align: left;
		font-weight: bold;
	}

	.fl-dropdown-menu-link:hover {
		color: var(--orange);
		background-color: var(--lightgrey3);
	}

}	

/* the-end-of-navbar-nav */



/* navbar-search */

.fl-navbar-search-parent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 17;
	background-color: var(--white);
	margin: 0 !important;
}

.fl-navbar-search-input {
	width: 100%;
	background-color: var(--white);
	padding: .7rem 5rem .7rem 1.5rem;
	display: block !important;
	height: 100% !important;
	border-radius: 0;
	font-size: 22px;
	font-weight: bold;
	color: var(--black2);
}

@media (min-width: 992px) {

	.fl-navbar-search-input {
		padding: 12px 30% 12px 7%;
		font-size: 28px;
	}

}

.fl-navbar-search-input::-webkit-input-placeholder {
  color: var(--black2);
}

.fl-navbar-search-input::-moz-placeholder {
  color: var(--black2);
}

.fl-navbar-search-input::-ms-input-placeholder {
  color: var(--black2);
}

.fl-navbar-search-input::placeholder {
  color: var(--black2);
}

/* the-end-of-navbar-search */



/* navbar-toggler */

@media only screen and (max-width: 991px) {

	.fl-navbar-toggler {
		border-radius: 0;
		background-color: transparent;
		width: 20px;
		height: 25px;
	}

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line,
	.fl-navbar-toggler-line::after {
		width: 15px;
	    height: 1.7px;
	    background-color: var(--black2);
	}

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line::after {
	    top: -5px;
	}   

	.fl-navbar-toggler-line::after {
		top: 5px;
	}

}

/* the-end-of-navbar-toggler */	



/* md-menu */

@media only screen and (max-width: 991px) {

	.fl-md-menu{
		display: block;
		position: absolute;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		transition: max-height .7s;
		overflow: hidden;
		top: 100%;
		max-height: 0;
		z-index: 14;
	}

	.fl-md-menu.fl-show { 
		max-height: 100vh;
	}


	.fl-md-menu-list {
		background-color: var(--white);
		padding: 0 .6rem;
		max-height: auto;
		overflow: auto;
	}

	.fl-md-menu-item {
		margin-top: 0 !important;
	}

	.fl-md-menu-link, 
	.fl-md-menu-dropdown-menu-link {
		background-color: var(--white) !important;
		color: var(--black2);
		padding: 1rem .5rem;
		text-align: left;
		font-weight: bold;
		font-size: 12px;	
		width: 100%;
		border-bottom: 1px solid var(--verylightgrey2);
	}

	.fl-md-menu-link i {
		margin-left: 1rem;
		font-size: 20px;
	}

	@media (hover: hover) {
		.fl-md-menu-link:hover,
		.fl-md-menu-dropdown-menu-link:hover {
			color: var(--orange);
		}
	}	

	.fl-md-menu-link.fl-active,
	.fl-md-menu-link:active {
		color: var(--orange);
	}

	.fl-md-menu-link-icon {
		font-size: 12px !important;
	}

	.fl-md-menu-link.fl-active .fl-md-menu-link-icon {
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.fl-md-menu-dropdown-menu-item {
		margin-top: 0;
		padding-left: 1.2rem;
	}

	.fl-md-menu-dropdown-menu-link {
		font-weight: normal;
	}

}

/* the-end-of-md-menu */



/* header-top-container */


.header-top-container {
	background-color: var(--white);
	padding: 0 1rem;
}

.header-top-brand,
.header-top-title,
.header-top-link {
	position: relative;
	z-index: 2;
}

@media (min-width: 992px) {

	.header-top-container {
		padding: 0.4rem 1rem;
	}

}

/* the-end-of-header-top-container */



/* navbar-links */

.fl-navbar-links {
	margin-left: auto;
}

@media (min-width: 992px) {

	.fl-navbar-links {
		order: 3;
		margin-left: initial;
	}
}

/* the-end-of-navbar-links */



/* growing-dropdown */

@media (max-width: 991px) {

	.fl-growing-dropdown {
		top: 210px;
		right: 8px;
	}

}

/* the-end-of-growing-dropdown */



/* fl-chat */

.fl-chat-toggler,
.fl-chat-head {
	background-color: var(--orange);
}

.fl-chat-text::selection {
	background-color: var(--white);
	color: var(--orange);
}

.fl-chat-form {
	border-color: var(--darkorange);
}

.fl-chat-submit {
	background-color: var(--orange);
}

.fl-chat-submit:hover {
	background-color: var(--darkorange);
}	

.fl-chat-bottom i {
	color: var(--orange);
}


/* the-end-of-fl-chat */



/* back-to-top-btn */

.fl-back-to-top-btn {
	right: initial;
	left: 1.5rem;
	bottom: 2rem !important;
}

.fl-back-to-top-btn:hover {
	background-color: var(--orange) !important;
}

/* the-end-of-back-to-top-btn */















